In [1]:
import pandas as pd
import numpy as np
from autogluon.tabular import TabularPredictor

/usr/local/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

#  Autogluon 기본 사용법
* 1. 데이터 로딩
* 2. 타겟변수 지정
* 3. TabularPredictor 설정. 타겟변수, 모델 성능 지표
* 4. 훈련(데이터, 제한시간설정, 분석사진설정 지정)
* 5. 데이터에서 일부 데이터를 테스트 데이터로 추출
* 6. 분석이 끝난 모델로 테스트 데이터에서 추론 .predict()
* 7. 평가

# 1. 데이터 로딩

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/haram4th/ADsP/main/salary2.csv")
data.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
train_data, test_data = train_test_split(data, stratify=data['class'], test_size=0.4, random_state=10)

In [5]:
train_data

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
12689,49,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,35,United-States,<=50K
30011,45,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,44,United-States,>50K
28454,55,Local-gov,HS-grad,9,Married-civ-spouse,Prof-specialty,Other-relative,White,Female,0,2246,40,United-States,>50K
17394,69,Private,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,United-States,<=50K
31597,21,Private,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20424,31,Private,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
28686,18,NaN,HS-grad,9,Never-married,NaN,Own-child,White,Female,0,0,40,United-States,<=50K
30381,28,Private,Some-college,10,Never-married,Transport-moving,Not-in-family,White,Male,0,0,50,United-States,<=50K
48693,61,Private,Some-college,10,Divorced,Other-service,Not-in-family,Black,Male,0,0,40,United-States,<=50K
44534,31,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K

In [6]:
test_data

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
22332,56,NaN,HS-grad,9,Divorced,NaN,Not-in-family,White,Male,0,0,10,United-States,<=50K
33515,57,Private,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Female,0,0,42,United-States,<=50K
39475,37,State-gov,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,<=50K
11140,19,Private,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,20,United-States,<=50K
39998,41,State-gov,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43439,21,Private,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,45,United-States,<=50K
3527,28,Self-emp-inc,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Male,0,0,60,United-States,<=50K
46661,27,Private,HS-grad,9,Separated,Machine-op-inspct,Not-in-family,White,Male,0,0,43,United-States,<=50K
28427,38,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
29562,26,Private,Some-college,10,Never-married,Sales,Unmarried,White,Female,0,0,40,NaN,<=50K

# 2. 타겟변수 지정

In [7]:
target_column = "class"

# 3. 제한시간, 검정지표(평가지표, accuracy, rmse, roc_auc) 지정

In [8]:
# 초 단위로 제한시간 지정 300초는 5분,
time_limit = 300
# 성능지표(accuracy, f1, recall, precision, roc_auc_score, mse,rmse,r2)
metric = 'accuracy'

# 4. 모델정의 TabularPredictor()

In [9]:
model = TabularPredictor(label=target_column, eval_metric=metric)

No path specified. Models will be saved in: "AutogluonModels/ag-20241022_002201"

# 모델 훈련

In [10]:
model.fit(train_data, time_limit=time_limit, presets='medium_quality')

Verbosity: 2 (Standard Logging)
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.10.15
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #1 SMP Fri Mar 29 23:14:13 UTC 2024
CPU Count:          12
Memory Avail:       13.85 GB / 15.31 GB (90.5%)
Disk Space Avail:   46.42 GB / 237.85 GB (19.5%)
===================================================
Presets specified: ['medium_quality']
Beginning AutoGluon training ... Time limit = 300s
AutoGluon will save models to "AutogluonModels/ag-20241022_002201"
Train Data Rows:    29305
Train Data Columns: 13
Label Column:       class
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [' <=50K', ' >50K']
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during Predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression', 'quantile'])
Problem Type:       binary
Preprocessing data ...
Selected class <--> label mapping:  class 1 =  >50K, class 0 =  <=50K
	Note: For your binary classification, AutoGluon arbitrarily selected which label-value represents positive ( >50K) vs negative ( <=50K) class.
	To explicitly set the positive_class, either rename classes to 1 and 0, or specify positive_class in Predictor init.
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    14190.07 MB
	Train Data (Original)  Memory Usage: 16.07 MB (0.1% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 1 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('int', [])    : 5 | ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
		('object', []) : 8 | ['workclass', 'education', 'marital-status', 'occupation', 'relationship', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 7 | ['workclass', 'education', 'marital-status', 'occupation', 'relationship', ...]
		('int', [])       : 5 | ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
		('int', ['bool']) : 1 | ['sex']
	0.2s = Fit runtime
	13 features in original data used to generate 13 features in processed data.
	Train Data (Processed) Memory Usage: 1.35 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.26s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.08530967411704488, Train Rows: 26805, Val Rows: 2500
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ... Training model for up to 299.74s of the 299.73s of remaining time.
	0.8284	 = Validation score   (accuracy)
	0.04s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: KNeighborsDist ... Training model for up to 299.56s of the 299.56s of remaining time.
	0.8256	 = Validation score   (accuracy)
	0.03s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: LightGBMXT ... Training model for up to 299.38s of the 299.38s of remaining time.
	Warning: Exception caused LightGBMXT to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. A quick tip is to install via `pip install autogluon.tabular[lightgbm]==1.1.1`.
Fitting model: LightGBM ... Training model for up to 299.29s of the 299.29s of remaining time.
	Warning: Exception caused LightGBM to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. A quick tip is to install via `pip install autogluon.tabular[lightgbm]==1.1.1`.
Fitting model: RandomForestGini ... Training model for up to 299.21s of the 299.21s of remaining time.
	0.8504	 = Validation score   (accuracy)
	1.77s	 = Training   runtime
	0.15s	 = Validation runtime
Fitting model: RandomForestEntr ... Training model for up to 296.03s of the 296.02s of remaining time.
	0.8512	 = Validation score   (accuracy)
	1.68s	 = Training   runtime
	0.15s	 = Validation runtime
Fitting model: CatBoost ... Training model for up to 293.1s of the 293.1s of remaining time.
	Warning: Exception caused CatBoost to fail during training (ImportError)... Skipping this model.

Fitting model: ExtraTreesGini ... Training model for up to 292.99s of the 292.99s of remaining time.
	0.8428	 = Validation score   (accuracy)
	1.59s	 = Training   runtime
	0.15s	 = Validation runtime
Fitting model: ExtraTreesEntr ... Training model for up to 289.62s of the 289.61s of remaining time.
	0.8432	 = Validation score   (accuracy)
	1.53s	 = Training   runtime
	0.15s	 = Validation runtime
Fitting model: NeuralNetFastAI ... Training model for up to 286.39s of the 286.38s of remaining time.
	Warning: Exception caused NeuralNetFastAI to fail during training (ImportError)... Skipping this model.
		Import fastai failed. A quick tip is to install via `pip install autogluon.tabular[fastai]==1.1.1`.
Fitting model: XGBoost ... Training model for up to 286.31s of the 286.3s of remaining time.
	Warning: Exception caused XGBoost to fail during training (ImportError)... Skipping this model.
		`import xgboost` failed. A quick tip is to install via `pip install autogluon.tabular[xgboost]==1.1.1`.
Fitting model: NeuralNetTorch ... Training model for up to 286.14s of the 286.14s of remaining time.
	Warning: Exception caused NeuralNetTorch to fail during training (ImportError)... Skipping this model.
		Unable to import dependency torch
A quick tip is to install via `pip install torch`.
The minimum torch version is currently 2.2.
Fitting model: LightGBMLarge ... Training model for up to 286.05s of the 286.05s of remaining time.
	Warning: Exception caused LightGBMLarge to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. A quick tip is to install via `pip install autogluon.tabular[lightgbm]==1.1.1`.
Fitting model: WeightedEnsemble_L2 ... Training model for up to 299.74s of the 285.95s of remaining time.
	Ensemble Weights: {'KNeighborsDist': 0.286, 'ExtraTreesGini': 0.286, 'KNeighborsUnif': 0.238, 'RandomForestGini': 0.095, 'RandomForestEntr': 0.095}
	0.8612	 = Validation score   (accuracy)
	0.07s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 14.26s ... Best model: WeightedEnsemble_L2 | Estimated inference throughput: 3895.8 rows/s (2500 batch size)
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels/ag-20241022_002201")

# 6. 생성된 모델에 테스트 데이터 넣어 예측하기

In [11]:
pred = model.predict(test_data)

# 7. 모델 성능 평가하기

In [12]:
result = model.evaluate(test_data)
result_df = pd.DataFrame([result], index =[0])
# 여러 모델 성능 비교
leader_board = model.leaderboard(test_data)
# 중요 변수 출력
feature_importance = model.feature_importance(test_data)
best_model_name = model.model_best
# best 모델 로딩
best_model = model._trainer.load_model(best_model_name)
best_model_params = best_model.params

Computing feature importance via permutation shuffling for 13 features using 5000 rows with 5 shuffle sets...
	272.24s	= Expected runtime (54.45s per shuffle set)
	59.18s	= Actual runtime (Completed 5 of 5 shuffle sets)

# 8. 결과 출력

In [13]:
print("="*20, "result_df", "="*20)
display(result_df)
print()
print("="*20, "leader_board", "="*20)
display(leader_board)
print()
print("="*20, "feature_importance", "="*20)
display(feature_importance)
print()
print("="*20, "best_model_name, params", "="*20)
display("best_model_name: ", best_model_name , "params: ", best_model_params)
print()

==================== result_df ====================

,accuracy,balanced_accuracy,mcc,roc_auc,f1,precision,recall
0,0.858013,0.754925,0.579951,0.893546,0.652555,0.787247,0.557219

==================== leader_board ====================

,model,score_test,score_val,eval_metric,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L2,0.858013,0.8612,accuracy,5.418347,0.641723,5.182018,0.009104,0.000764,0.074029,2,True,7
1,RandomForestGini,0.855044,0.8504,accuracy,1.281276,0.146526,1.770618,1.281276,0.146526,1.770618,1,True,3
2,RandomForestEntr,0.854891,0.8512,accuracy,1.309716,0.148120,1.679416,1.309716,0.148120,1.679416,1,True,4
3,ExtraTreesEntr,0.849670,0.8432,accuracy,1.419636,0.147090,1.534662,1.419636,0.147090,1.534662,1,True,6
4,ExtraTreesGini,0.849209,0.8428,accuracy,1.565277,0.147906,1.587606,1.565277,0.147906,1.587606,1,True,5
5,KNeighborsUnif,0.829708,0.8284,accuracy,0.609089,0.093205,0.037491,0.609089,0.093205,0.037491,1,True,1
6,KNeighborsDist,0.827251,0.8256,accuracy,0.643886,0.105202,0.032860,0.643886,0.105202,0.032860,1,True,2

==================== feature_importance ====================

                importance    stddev   p_value  n  p99_high   p99_low
capital-gain       0.05828  0.003738  0.000002  5  0.065976  0.050584
education-num      0.02756  0.003817  0.000043  5  0.035419  0.019701
capital-loss       0.02576  0.003109  0.000025  5  0.032162  0.019358
age                0.01900  0.002205  0.000021  5  0.023539  0.014461
relationship       0.01072  0.001616  0.000060  5  0.014048  0.007392
hours-per-week     0.01032  0.003100  0.000870  5  0.016704  0.003936
marital-status     0.00616  0.001212  0.000171  5  0.008655  0.003665
sex                0.00548  0.002043  0.001942  5  0.009686  0.001274
occupation         0.00512  0.001559  0.000916  5  0.008331  0.001909
workclass          0.00148  0.001628  0.055968  5  0.004833 -0.001873
education          0.00060  0.001334  0.185751  5  0.003347 -0.002147
race               0.00056  0.001445  0.217531  5  0.003535 -0.002415
native-country    -0.00068  0.000610  0.966366  5  0.000576 -0.001936

==================== best_model_name, params ====================

'best_model_name: '

'WeightedEnsemble_L2'

'params: '

{'use_orig_features': False,
 'max_base_models': 25,
 'max_base_models_per_type': 5,
 'save_bag_folds': True}

In [14]:
!pip install gradio

Requirement already satisfied: gradio in /usr/local/lib/python3.10/site-packages (5.1.0)
Requirement already satisfied: aiofiles<24.0,>=22.0 in /usr/local/lib/python3.10/site-packages (from gradio) (23.2.1)
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.10/site-packages (from gradio) (4.6.2.post1)
Requirement already satisfied: fastapi<1.0 in /usr/local/lib/python3.10/site-packages (from gradio) (0.115.2)
Requirement already satisfied: ffmpy in /usr/local/lib/python3.10/site-packages (from gradio) (0.4.0)
Requirement already satisfied: gradio-client==1.4.0 in /usr/local/lib/python3.10/site-packages (from gradio) (1.4.0)
Requirement already satisfied: httpx>=0.24.1 in /usr/local/lib/python3.10/site-packages (from gradio) (0.27.2)
Requirement already satisfied: huggingface-hub>=0.25.1 in /usr/local/lib/python3.10/site-packages (from gradio) (0.26.0)
Requirement already satisfied: jinja2<4.0 in /usr/local/lib/python3.10/site-packages (from gradio) (3.1.4)
Requirement already satisfied: markupsafe~=2.0 in /usr/local/lib/python3.10/site-packages (from gradio) (2.1.5)
Requirement already satisfied: numpy<3.0,>=1.0 in /usr/local/lib/python3.10/site-packages (from gradio) (1.26.4)
Requirement already satisfied: orjson~=3.0 in /usr/local/lib/python3.10/site-packages (from gradio) (3.10.9)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/site-packages (from gradio) (24.1)
Requirement already satisfied: pandas<3.0,>=1.0 in /usr/local/lib/python3.10/site-packages (from gradio) (2.2.3)
Requirement already satisfied: pillow<11.0,>=8.0 in /usr/local/lib/python3.10/site-packages (from gradio) (10.4.0)
Requirement already satisfied: pydantic>=2.0 in /usr/local/lib/python3.10/site-packages (from gradio) (2.9.2)
Requirement already satisfied: pydub in /usr/local/lib/python3.10/site-packages (from gradio) (0.25.1)
Requirement already satisfied: python-multipart>=0.0.9 in /usr/local/lib/python3.10/site-packages (from gradio) (0.0.12)
Requirement already satisfied: pyyaml<7.0,>=5.0 in /usr/local/lib/python3.10/site-packages (from gradio) (6.0.2)
Requirement already satisfied: ruff>=0.2.2 in /usr/local/lib/python3.10/site-packages (from gradio) (0.7.0)
Requirement already satisfied: semantic-version~=2.0 in /usr/local/lib/python3.10/site-packages (from gradio) (2.10.0)
Requirement already satisfied: tomlkit==0.12.0 in /usr/local/lib/python3.10/site-packages (from gradio) (0.12.0)
Requirement already satisfied: typer<1.0,>=0.12 in /usr/local/lib/python3.10/site-packages (from gradio) (0.12.5)
Requirement already satisfied: typing-extensions~=4.0 in /usr/local/lib/python3.10/site-packages (from gradio) (4.12.2)
Requirement already satisfied: uvicorn>=0.14.0 in /usr/local/lib/python3.10/site-packages (from gradio) (0.32.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/site-packages (from gradio-client==1.4.0->gradio) (2024.10.0)
Requirement already satisfied: websockets<13.0,>=10.0 in /usr/local/lib/python3.10/site-packages (from gradio-client==1.4.0->gradio) (12.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/site-packages (from anyio<5.0,>=3.0->gradio) (3.10)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/site-packages (from anyio<5.0,>=3.0->gradio) (1.3.1)
Requirement already satisfied: exceptiongroup>=1.0.2 in /usr/local/lib/python3.10/site-packages (from anyio<5.0,>=3.0->gradio) (1.2.2)
Requirement already satisfied: starlette<0.41.0,>=0.37.2 in /usr/local/lib/python3.10/site-packages (from fastapi<1.0->gradio) (0.40.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/site-packages (from httpx>=0.24.1->gradio) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/site-packages (from httpx>=0.24.1->gradio) (1.0.6)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/site-packages (from httpcore==1.*->httpx>=0.24.1->gradio) (0.14.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/site-packages (from huggingface-hub>=0.25.1->gradio) (3.16.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/site-packages (from huggingface-hub>=0.25.1->gradio) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in /usr/local/lib/python3.10/site-packages (from huggingface-hub>=0.25.1->gradio) (4.66.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/site-packages (from pandas<3.0,>=1.0->gradio) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/site-packages (from pandas<3.0,>=1.0->gradio) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/site-packages (from pandas<3.0,>=1.0->gradio) (2024.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/site-packages (from pydantic>=2.0->gradio) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /usr/local/lib/python3.10/site-packages (from pydantic>=2.0->gradio) (2.23.4)
Requirement already satisfied: click>=8.0.0 in /usr/local/lib/python3.10/site-packages (from typer<1.0,>=0.12->gradio) (8.1.7)
Requirement already satisfied: shellingham>=1.3.0 in /usr/local/lib/python3.10/site-packages (from typer<1.0,>=0.12->gradio) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.10/site-packages (from typer<1.0,>=0.12->gradio) (13.9.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas<3.0,>=1.0->gradio) (1.16.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/site-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/site-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (2.18.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/site-packages (from requests->huggingface-hub>=0.25.1->gradio) (3.4.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/site-packages (from requests->huggingface-hub>=0.25.1->gradio) (2.2.3)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0,>=0.12->gradio) (0.1.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

# 함수화하고 분석 간단히 하기

In [15]:
import gradio as gr
import pandas as pd
import numpy as np
from autogluon.tabular import TabularPredictor

def automl(data, target, time=300, metric=None):
    
    
    
    if metric in ("accuracy", "roc_auc", "recall", "precision", "f1"):
        train_data, test_data = train_test_split(data, stratify=data[target], test_size=0.4, random_state=10)
    else:
        train_data, test_data = train_test_split(data, test_size=0.4, random_state=10)
    

    

    model = TabularPredictor(label=target, eval_metric=metric)
    model.fit(train_data, time_limit=time_limit, presets='medium_quality')
    pred = model.predict(test_data)

    result = model.evaluate(test_data)
    result_df = pd.DataFrame([result], index =[0])
    # 여러 모델 성능 비교
    leader_board = model.leaderboard(test_data)
    # 중요 변수 출력
    feature_importance = model.feature_importance(test_data)
    best_model_name = model.model_best
    # best 모델 로딩
    best_model = model._trainer.load_model(best_model_name)
    best_model_params = best_model.params

    print("="*20, "result_df", "="*20)
    display(result_df)
    print()
    print("="*20, "leader_board", "="*20)
    display(leader_board)
    print()
    print("="*20, "feature_importance", "="*20)
    display(feature_importance)
    print()
    print("="*20, "best_model_name, params", "="*20)
    display("best_model_name: ", best_model_name , "params: ", best_model_params)
    print()
    return best_model, result_df, leader_board, feature_importance

In [16]:
data = pd.read_csv("https://raw.githubusercontent.com/haram4th/ablearn/main/Taitanic_train.csv")
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [17]:
automl(data, 'Survived')

No path specified. Models will be saved in: "AutogluonModels/ag-20241022_002338"
Verbosity: 2 (Standard Logging)
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.10.15
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #1 SMP Fri Mar 29 23:14:13 UTC 2024
CPU Count:          12
Memory Avail:       12.96 GB / 15.31 GB (84.6%)
Disk Space Avail:   45.09 GB / 237.85 GB (19.0%)
===================================================
Presets specified: ['medium_quality']
Beginning AutoGluon training ... Time limit = 300s
AutoGluon will save models to "AutogluonModels/ag-20241022_002338"
Train Data Rows:    534
Train Data Columns: 11
Label Column:       Survived
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [0, 1]
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during Predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression', 'quantile'])
Problem Type:       binary
Preprocessing data ...
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    13269.13 MB
	Train Data (Original)  Memory Usage: 0.18 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 1 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
		Fitting TextSpecialFeatureGenerator...
			Fitting BinnedFeatureGenerator...
			Fitting DropDuplicatesFeatureGenerator...
		Fitting TextNgramFeatureGenerator...
			Fitting CountVectorizer for text features: ['Name']
			CountVectorizer fit with vocabulary size = 4
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])        : 2 | ['Age', 'Fare']
		('int', [])          : 4 | ['PassengerId', 'Pclass', 'SibSp', 'Parch']
		('object', [])       : 4 | ['Sex', 'Ticket', 'Cabin', 'Embarked']
		('object', ['text']) : 1 | ['Name']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])                    : 3 | ['Ticket', 'Cabin', 'Embarked']
		('float', [])                       : 2 | ['Age', 'Fare']
		('int', [])                         : 4 | ['PassengerId', 'Pclass', 'SibSp', 'Parch']
		('int', ['binned', 'text_special']) : 8 | ['Name.char_count', 'Name.word_count', 'Name.capital_ratio', 'Name.lower_ratio', 'Name.special_ratio', ...]
		('int', ['bool'])                   : 1 | ['Sex']
		('int', ['text_ngram'])             : 5 | ['__nlp__.miss', '__nlp__.mr', '__nlp__.mrs', '__nlp__.william', '__nlp__._total_']
	0.3s = Fit runtime
	11 features in original data used to generate 23 features in processed data.
	Train Data (Processed) Memory Usage: 0.04 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.33s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 427, Val Rows: 107
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ... Training model for up to 299.67s of the 299.67s of remaining time.
	0.5794	 = Validation score   (accuracy)
	0.01s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: KNeighborsDist ... Training model for up to 299.57s of the 299.56s of remaining time.
	0.5514	 = Validation score   (accuracy)
	0.01s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: LightGBMXT ... Training model for up to 299.52s of the 299.52s of remaining time.
	Warning: Exception caused LightGBMXT to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. A quick tip is to install via `pip install autogluon.tabular[lightgbm]==1.1.1`.
Fitting model: LightGBM ... Training model for up to 299.42s of the 299.42s of remaining time.
	Warning: Exception caused LightGBM to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. A quick tip is to install via `pip install autogluon.tabular[lightgbm]==1.1.1`.
Fitting model: RandomForestGini ... Training model for up to 299.32s of the 299.32s of remaining time.
	0.8131	 = Validation score   (accuracy)
	0.79s	 = Training   runtime
	0.06s	 = Validation runtime
Fitting model: RandomForestEntr ... Training model for up to 298.4s of the 298.4s of remaining time.
	0.8224	 = Validation score   (accuracy)
	0.77s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: CatBoost ... Training model for up to 297.5s of the 297.49s of remaining time.
	Warning: Exception caused CatBoost to fail during training (ImportError)... Skipping this model.

Fitting model: ExtraTreesGini ... Training model for up to 297.39s of the 297.39s of remaining time.
	0.785	 = Validation score   (accuracy)
	0.76s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: ExtraTreesEntr ... Training model for up to 296.44s of the 296.44s of remaining time.
	0.8131	 = Validation score   (accuracy)
	0.75s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: NeuralNetFastAI ... Training model for up to 295.54s of the 295.54s of remaining time.
	Warning: Exception caused NeuralNetFastAI to fail during training (ImportError)... Skipping this model.
		Import fastai failed. A quick tip is to install via `pip install autogluon.tabular[fastai]==1.1.1`.
Fitting model: XGBoost ... Training model for up to 295.43s of the 295.42s of remaining time.
	Warning: Exception caused XGBoost to fail during training (ImportError)... Skipping this model.
		`import xgboost` failed. A quick tip is to install via `pip install autogluon.tabular[xgboost]==1.1.1`.
Fitting model: NeuralNetTorch ... Training model for up to 295.31s of the 295.31s of remaining time.
	Warning: Exception caused NeuralNetTorch to fail during training (ImportError)... Skipping this model.
		Unable to import dependency torch
A quick tip is to install via `pip install torch`.
The minimum torch version is currently 2.2.
Fitting model: LightGBMLarge ... Training model for up to 295.21s of the 295.2s of remaining time.
	Warning: Exception caused LightGBMLarge to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. A quick tip is to install via `pip install autogluon.tabular[lightgbm]==1.1.1`.
Fitting model: WeightedEnsemble_L2 ... Training model for up to 299.67s of the 295.07s of remaining time.
	Ensemble Weights: {'RandomForestEntr': 1.0}
	0.8224	 = Validation score   (accuracy)
	0.05s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 5.11s ... Best model: WeightedEnsemble_L2 | Estimated inference throughput: 1572.9 rows/s (107 batch size)

TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels/ag-20241022_002338")
Computing feature importance via permutation shuffling for 11 features using 357 rows with 5 shuffle sets...
	11.52s	= Expected runtime (2.3s per shuffle set)
	1.52s	= Actual runtime (Completed 5 of 5 shuffle sets)

==================== result_df ====================

,accuracy,balanced_accuracy,mcc,roc_auc,f1,precision,recall
0,0.806723,0.782154,0.574086,0.857806,0.720648,0.747899,0.695312

==================== leader_board ====================

,model,score_test,score_val,eval_metric,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,RandomForestEntr,0.806723,0.822430,accuracy,0.165664,0.067378,0.771013,0.165664,0.067378,0.771013,1,True,4
1,WeightedEnsemble_L2,0.806723,0.822430,accuracy,0.170643,0.068026,0.824206,0.004979,0.000648,0.053192,2,True,7
2,RandomForestGini,0.803922,0.813084,accuracy,0.165786,0.063185,0.790883,0.165786,0.063185,0.790883,1,True,3
3,ExtraTreesEntr,0.801120,0.813084,accuracy,0.178138,0.074560,0.753875,0.178138,0.074560,0.753875,1,True,6
4,ExtraTreesGini,0.784314,0.785047,accuracy,0.179949,0.074402,0.758742,0.179949,0.074402,0.758742,1,True,5
5,KNeighborsDist,0.669468,0.551402,accuracy,0.007166,0.002501,0.013049,0.007166,0.002501,0.013049,1,True,2
6,KNeighborsUnif,0.666667,0.579439,accuracy,0.006543,0.051496,0.008096,0.006543,0.051496,0.008096,1,True,1

==================== feature_importance ====================

             importance    stddev   p_value  n  p99_high   p99_low
Name           0.104762  0.014501  0.000043  5  0.134620  0.074904
Sex            0.054902  0.014769  0.000572  5  0.085312  0.024492
Pclass         0.009524  0.003758  0.002391  5  0.017262  0.001786
Fare           0.006162  0.008262  0.085339  5  0.023174 -0.010849
SibSp          0.002801  0.005942  0.175651  5  0.015036 -0.009434
Parch          0.001120  0.002505  0.186950  5  0.006279 -0.004038
Embarked       0.000000  0.004429  0.500000  5  0.009119 -0.009119
Ticket        -0.000560  0.002344  0.689346  5  0.004265 -0.005386
Age           -0.001120  0.008990  0.602853  5  0.017390 -0.019631
PassengerId   -0.003361  0.004155  0.927648  5  0.005193 -0.011916
Cabin         -0.005042  0.003652  0.981659  5  0.002478 -0.012562

==================== best_model_name, params ====================

'best_model_name: '

'WeightedEnsemble_L2'

'params: '

{'use_orig_features': False,
 'max_base_models': 25,
 'max_base_models_per_type': 5,
 'save_bag_folds': True}

(<autogluon.core.models.ensemble.weighted_ensemble_model.WeightedEnsembleModel at 0x7f4f3b3a9cf0>,
    accuracy  balanced_accuracy       mcc   roc_auc        f1  precision  \
 0  0.806723           0.782154  0.574086  0.857806  0.720648   0.747899

      recall
 0  0.695312  ,
                  model  score_test  score_val eval_metric  pred_time_test  \
 0     RandomForestEntr    0.806723   0.822430    accuracy        0.165664
 1  WeightedEnsemble_L2    0.806723   0.822430    accuracy        0.170643
 2     RandomForestGini    0.803922   0.813084    accuracy        0.165786
 3       ExtraTreesEntr    0.801120   0.813084    accuracy        0.178138
 4       ExtraTreesGini    0.784314   0.785047    accuracy        0.179949
 5       KNeighborsDist    0.669468   0.551402    accuracy        0.007166
 6       KNeighborsUnif    0.666667   0.579439    accuracy        0.006543

    pred_time_val  fit_time  pred_time_test_marginal  pred_time_val_marginal  \
 0       0.067378  0.771013                 0.165664                0.067378
 1       0.068026  0.824206                 0.004979                0.000648
 2       0.063185  0.790883                 0.165786                0.063185
 3       0.074560  0.753875                 0.178138                0.074560
 4       0.074402  0.758742                 0.179949                0.074402
 5       0.002501  0.013049                 0.007166                0.002501
 6       0.051496  0.008096                 0.006543                0.051496

    fit_time_marginal  stack_level  can_infer  fit_order
 0           0.771013            1       True          4
 1           0.053192            2       True          7
 2           0.790883            1       True          3
 3           0.753875            1       True          6
 4           0.758742            1       True          5
 5           0.013049            1       True          2
 6           0.008096            1       True          1  ,
              importance    stddev   p_value  n  p99_high   p99_low
 Name           0.104762  0.014501  0.000043  5  0.134620  0.074904
 Sex            0.054902  0.014769  0.000572  5  0.085312  0.024492
 Pclass         0.009524  0.003758  0.002391  5  0.017262  0.001786
 Fare           0.006162  0.008262  0.085339  5  0.023174 -0.010849
 SibSp          0.002801  0.005942  0.175651  5  0.015036 -0.009434
 Parch          0.001120  0.002505  0.186950  5  0.006279 -0.004038
 Embarked       0.000000  0.004429  0.500000  5  0.009119 -0.009119
 Ticket        -0.000560  0.002344  0.689346  5  0.004265 -0.005386
 Age           -0.001120  0.008990  0.602853  5  0.017390 -0.019631
 PassengerId   -0.003361  0.004155  0.927648  5  0.005193 -0.011916
 Cabin         -0.005042  0.003652  0.981659  5  0.002478 -0.012562)