## 함수 만들기

* print(),split(),input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌
* 도구
* function => 기능
* 자주 사용하는 기능을 미리 만들어서 반복 재사용 할 수 있게 만드는 것

## 1) 함수 만드는 법
def 함수이름():<br>
____실행코드<br>
____return 리턴값<br>

In [3]:
def hello():
    print("hello 파이썬 함수 만들기")

In [5]:
hello()

hello 파이썬 함수 만들기

## 2) 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

## 3) 함수의 매개변수
* 함수의 ()안에 받는 값
* ()안에 값을 받아서 함수 내에서 처리할 때 사용
* print("hello") => hello

매개변수 1개짜리 함수

In [6]:
#원의 넓이를 구하는 함수
def circle(r):
    return r*r*3.14

In [8]:
circle()

TypeError: circle() missing 1 required positional argument: 'r'

In [9]:
circle(3)

28.26

매개변수 2개짜리 함수

In [10]:
def add(a,b):
    return a+b

In [12]:
add(10,3)

13

매개 변수 3개짜리 함수 - a:시작, b:끝, c:증감<br>
interval이라는 이름의 함수를 만드세요.<br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 출력하세요. <br>
num_maker(1,10,2)<br>
1, 3, 5, 7, 9

In [20]:
def num_maker(a,b,c):
    print([i for i in range(a,b,c)])

In [21]:
num_maker(1,10,2)

[1, 3, 5, 7, 9]

리턴값이 여러 개인 함수

In [23]:
def add_sub(a,b):
    add=a+b
    sub=a-b
    return add, sub

In [25]:
print(type(add_sub(7,3)))

<class 'tuple'>

In [26]:
def num_maker2(a,b,c):
    asc=[i for i in range(a,b,c)]
    desc=[i for i in range(a,b,c)][::-1]
    return asc, desc

In [27]:
num_maker2(1,10,2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

## 4)중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

1-10까지 숫자중에 짝수만 출력하다가 7이상이 되면 종료하기

In [28]:
age=range(1,11)

In [33]:
def even(age):
    for i in age:
        if i%2==0:
            print(i,end=" ")
        elif i>=7:
            break

In [34]:
even(age)

2 4 6

In [38]:
def even2(age):
    for i in age:
        if i%2==0:
            print(i,end=" ")
        elif i>=7:
            return

In [39]:
even2(age)

2 4 6

1-100까지 숫자중에 홀수만 출력하다가 51번째에 종료하는 odd함수

In [54]:
def odd():
    for i in range(1,101):
        if i%2==1:
            print(i,end=" ")
        if i==51:
            return

In [55]:
odd()

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치인수(positional argument)
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [56]:
def print_nums(a,b,c):
    print(a, b, c)

In [57]:
print_nums(10,20,30)

10 20 30

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때 위치 인수와 개수가 같으면<br> *로 언패킹 가능

In [59]:
p=[10,20,30]

In [61]:
print_nums(*p)

10 20 30

가변인수
* 여러개의 자료를 한 번에 입력 받음
* *args => *변수명

In [1]:
def list_tuple_func(*args):
    print(args)
    print(type(args))

In [2]:
list_tuple_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
list_tuple_func(1.1,2.2,3.3,4.4,5.5)

(1.1, 2.2, 3.3, 4.4, 5.5)
<class 'tuple'>

In [4]:
list_tuple_func([1,2,3], [4,5,6], [7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

In [5]:
list_tuple_func(dict(a=1, b=2, c=3))

({'a': 1, 'b': 2, 'c': 3},)
<class 'tuple'>

In [ ]:
def sum2(*args):
    hap=0
    for i in args:
        hap += i
    return hap

* 고정인수와 가변인수를 함께 사용할 때는 반드시<br>
* 고정인수, 가변인수 순으로 넣고 가변인수는 항상 <strong>마지막에<strong> 넣는다. <strong>
* def sum(a, *args): O
* def sum(*args, a): X

정수와 리스트를 입력받아 리스트의 요소에 <br>
입력받은 정수를 곱한 값의 리스트를 반환하는 함수 <br>
3,[1,2,3,4,5] => [3,6,9,12,13]

In [62]:
def muls(a, *args):
    result = []
    for num in args:
        print(a*num, end=" ")
        result.append(a*num)
    return result

In [64]:
muls(3,*[1,2,3,4,5])

3 6 9 12 15

[3, 6, 9, 12, 15]

## 키워드 인수

개인 정보를 출력하는 함수

In [1]:
def personal_info(name, age, address):
    print('이름: ',name)
    print('나이: ',age)
    print('주소: ',address)

In [2]:
personal_info('홍길동', 30, '서울시 강남구')

이름:  홍길동
나이:  30
주소:  서울시 강남구

* 위의 함수는 인수의 순서를 모두 기억해야 하기 때문에 사용하기 어려움
* 인수의 순서와 용도를 매번 기억하지 않도록 하기 위해서 키워드 인수(keyword argument) 사용
* 예) print("python", sep=" ", end="\n") sep, end => 키워드 인수

In [3]:
dict(key='value')

{'key': 'value'}

personal_info 함수를 키워드 인수 방식으로 호출

In [4]:
personal_info(name='홍길동',age='30',address='서울시 강남구')

이름:  홍길동
나이:  30
주소:  서울시 강남구

In [5]:
personal_info(age='30',name='홍길동',address='서울시 강남구')

이름:  홍길동
나이:  30
주소:  서울시 강남구

↑ 키워드 인수 방식으로 함수를 호출하면 인수 순서나 위치가 바뀌어도 동작을 한다. ↑

In [8]:
p_info=dict(age='30',name='홍길동',address='서울시 강남구')
p_info

{'age': '30', 'name': '홍길동', 'address': '서울시 강남구'}

딕셔너리를 언패킹 할때<br> * 한개를 붙이면 키가 반환되고, ** 두개를 붙여야 value값이 반환된다.

In [16]:
personal_info(**(p_info))

이름:  홍길동
나이:  30
주소:  서울시 강남구

키워드 인수를 사용하는 가변인수 함수 만들기<br>
def 함수이름(**kwargs):<br>
____코드<br>
____return

In [17]:
def personal_info2(**kwargs):
    print("kwargs:", kwargs)
    print("kwargs type: ", type(kwargs))

In [19]:
personal_info2(name='홍길동')

kwargs: {'name': '홍길동'}
kwargs type:  <class 'dict'>

In [21]:
personal_info2(name='홍길동', age=30, address='서울시 강남구', school='강남 고등학교')

kwargs: {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type:  <class 'dict'>

In [22]:
d=dict(name='홍길동', age=30, address='서울시 강남구', school='강남 고등학교')
d

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}

In [26]:
personal_info2(**d)

kwargs: {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type:  <class 'dict'>

In [31]:
def personal_info3(**kwargs):
    print("kwargs:", kwargs)
    print("kwargs type: ", type(kwargs))
    for key, value in kwargs.items():
        print(key,":",value)

In [32]:
personal_info3(**d)

kwargs: {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type:  <class 'dict'>
name : 홍길동
age : 30
address : 서울시 강남구
school : 강남 고등학교

고정인수와 키워드 가변인수 함께 사용하기
* 고정인수, **키워드인수 순으로 와야함

In [33]:
def personal_info4(name, **kwargs):
    print("name: ",name)
    print("kwargs: ",kwargs)

In [34]:
personal_info4('홍길동')

name:  홍길동
kwargs:  {}

In [35]:
personal_info4('홍길동', age=30, address='서울시 강남구')

name:  홍길동
kwargs:  {'age': 30, 'address': '서울시 강남구'}

In [37]:
personal_info4(age=30, address='서울시 강남구') #고정인수는 꼭 넣어줘야 함

TypeError: personal_info4() missing 1 required positional argument: 'name'

가변인수와 가변키워드인수 함께쓰기
* def 함수명(*args, **kwargs):
* def 함수명(,고정인자, *args, **kwargs):

In [39]:
def custom_print(*args, **kwargs):
    print(args)
    print(kwargs)
    print(*args, **kwargs)
custom_print(1,2,3,sep=" !! ",end="")

(1, 2, 3)
{'sep': ' !! ', 'end': ''}
1 !! 2 !! 3

매개변수 = 함수 내에서 사용되는 변수
* 위치인수: 위치가 고정된 매개변수
* 가변 인수: 여러개의 자료를 동시에 받을 수 있는 매개변수 => tuple로 들어옴
* 키워드 가변 인수: 여러 개의 자료를 동시에 받을 수 있는데 key=value 형태로 받는 매개변수=>dict로 들어옴

매개변수에 초기값 지정하기

In [41]:
def personal_info5(name, age, address='비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [42]:
personal_info5('홍길동', 30,'서울시 강남구')

이름:  홍길동
나이:  30
주소:  서울시 강남구

In [43]:
personal_info5('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [45]:
def personal_info6(address='비공개', *args, **kwargs):
    print('args: ', args)
    print('kwargs: ', kwargs)
    print('주소: ', address)

In [47]:
personal_info6(1,2,3,4, name="홍길동",age=30)

args:  (2, 3, 4)
kwargs:  {'name': '홍길동', 'age': 30}
주소:  1

함수 Doc 스트링 사용하기
* 함수의 기능을 설명하거나 사용법을 함수 내에 적어 놓은것<br>
def 함수이름((매개변수):<br>
____""" 독스트링으로 설명 적기 """<br>
____실행 코드<br>
____return<br>
* 독스트링은 함수 실행시에는 출력되지 않음
* print(함수이름.doc)
* help(함수이름)

In [48]:
def add(a,b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    return a+b

In [49]:
add(10,5)

15

In [ ]:
add() # 함수를 입력하고 shift+tab 누르면 확인가능

In [51]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [52]:
print(add.__doc__)

    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [56]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## 람다 표현식 (lambda expression)
* 간단한 함수를 작성하거나 다른 함수의 인수로 함수를 넣을 때 사용
* 익명함수 (함수명이 없음)
* 사용 후 메모리에서 삭제됨

In [1]:
# 자료 1개를 입력받아 10을 더해 리턴하는 함수
def plus_ten(x):
    return x + 10

In [2]:
plus_ten(5)

15

In [3]:
# def lambda():
(lambda x : x+10)(5)

15

람다  함수를 변수에 넣고 변수에 인수를 넣어서 호출

In [4]:
plus_five = lambda x: x+5

In [5]:
plus_five(5)

10

map(함수, 리스트자료)

In [10]:
a,b,c,d=(map(int, ["1","2","4","5"]))

In [12]:
print(a,b,c,d)

1 2 4 5

In [13]:
result = map(plus_five, [1,2,3,4,5])
print(list(result))

[6, 7, 8, 9, 10]

In [14]:
list(map(lambda x: x+10,[1,2,3,4,5]))

[11, 12, 13, 14, 15]

람다표현식에 조건부 표현식 사용하기

In [15]:
# 3의 배수만 문자열로 바꾸기
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:

def tostr(a):
    result=[]
    for i in a:
        if i%3==0:
            result.append(str(i))
        else:
            result.append(i)
        
    print(result)

In [23]:
tostr(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [25]:

def tostr2(a):
    result=[]
    for i in a:
        result.append(str(i)) if i%3==0 else result.append(i)
      
        
    print(result)

In [26]:
tostr2(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [29]:

def tostr3(a):
    return [  (str(i)) if i%3==0 else (i) for i in a]

In [30]:
tostr3(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [31]:
list(map(lambda x: str(x) if x%3==0 else x,a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [32]:
a=[1,2,3,4,5]
b=[2,4,6,8,10]
c=[3,6,9,12,15]

In [33]:
list(map(lambda x,y,z: x*y*z,a,b,c))

[6, 48, 162, 384, 750]