In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

In [5]:
data = pd.read_csv("./data/신용보증기금_업종별 보증해지 현황 요약_20230830.csv", encoding="cp949")
data

           기준일자    업종코드 일반창업구분  지역  주채무상환해지기업수  기타해지기업수  기타해지해지건수
0    2018-12-07  C20201     전체  전남           1        1         1
1    2018-12-07  C20201     전체  미상           0        6         5
2    2018-12-07  C20201     창업  전체           0        3         2
3    2018-12-07  C20201     창업  충북           0        0         0
4    2018-12-07  C20201     창업  미상           0        3         2
..          ...     ...    ...  ..         ...      ...       ...
495  2018-12-07  C20495     전체  경북           1        3         3
496  2018-12-07  C20495     전체  충남           1        2         2
497  2018-12-07  C20495     전체  충북           1        1         1
498  2018-12-07  C20495     창업  전체           1        2         2
499  2018-12-07  C20495     창업  충남           1        2         2

[500 rows x 7 columns]

In [6]:
data['지역'].unique()

array(['전남', '미상', '전체', '충북', '인천', '경기', '경남', '충남', '서울', '부산', '대구',
       '경북', '대전', '광주', '전북', '강원', '울산', '제주'], dtype=object)

In [7]:
data_gyeonggi = data[data['지역']=='경기']

In [8]:
data_gyeonggi

           기준일자    업종코드 일반창업구분  지역  주채무상환해지기업수  기타해지기업수  기타해지해지건수
7    2018-12-07  C20201     일반  경기           4        5         5
15   2018-12-07  C20202     전체  경기         377      345       336
31   2018-12-07  C20202     창업  경기          94       91        88
44   2018-12-07  C20202     일반  경기         283      254       248
60   2018-12-07  C20203     전체  경기         174      142       129
75   2018-12-07  C20203     창업  경기          30       44        41
89   2018-12-07  C20203     일반  경기         144       98        88
100  2018-12-07  C20311     전체  경기           1        2         2
108  2018-12-07  C20311     창업  경기           0        1         1
112  2018-12-07  C20311     일반  경기           1        1         1
119  2018-12-07  C20312     전체  경기           0        1         1
127  2018-12-07  C20312     창업  경기           0        1         1
140  2018-12-07  C20313     전체  경기          13       12        12
153  2018-12-07  C20313     창업  경기           5        7         7
163  2018-12-07  C20313     일반  경기           8        5         5
174  2018-12-07  C20321     전체  경기           1        5         5
181  2018-12-07  C20321     창업  경기           0        3         3
184  2018-12-07  C20321     일반  경기           1        2         2
191  2018-12-07  C20322     전체  경기           1        3         3
202  2018-12-07  C20322     창업  경기           0        1         1
206  2018-12-07  C20322     일반  경기           1        2         2
217  2018-12-07  C20411     전체  경기          51       65        62
229  2018-12-07  C20411     창업  경기          15       15        14
242  2018-12-07  C20411     일반  경기          36       50        48
251  2018-12-07  C20412     전체  경기           2        2         2
253  2018-12-07  C20412     창업  경기           1        1         1
256  2018-12-07  C20412     일반  경기           1        1         1
258  2018-12-07  C20413     전체  경기          31       28        26
264  2018-12-07  C20413     창업  경기           0        0         0
266  2018-12-07  C20413     일반  경기          31       28        26
274  2018-12-07  C20421     전체  경기          18       22        21
287  2018-12-07  C20421     창업  경기           4        7         6
292  2018-12-07  C20421     일반  경기          14       15        15
305  2018-12-07  C20422     전체  경기          38       50        43
321  2018-12-07  C20422     창업  경기           9        7         7
332  2018-12-07  C20422     일반  경기          29       43        36
347  2018-12-07  C20423     전체  경기         117      111       100
364  2018-12-07  C20423     창업  경기          46       48        42
380  2018-12-07  C20423     일반  경기          71       63        58
394  2018-12-07  C20424     전체  경기          29       28        28
406  2018-12-07  C20424     창업  경기           1        4         4
414  2018-12-07  C20424     일반  경기          28       24        24
422  2018-12-07  C20491     전체  경기          16       10        10
428  2018-12-07  C20491     창업  경기          12        4         4
432  2018-12-07  C20491     일반  경기           4        6         6
438  2018-12-07  C20492     전체  경기           1        2         2
444  2018-12-07  C20492     창업  경기           1        1         1
447  2018-12-07  C20492     일반  경기           0        1         1
454  2018-12-07  C20493     전체  경기          63       66        59
467  2018-12-07  C20493     창업  경기          24       12        12
477  2018-12-07  C20493     일반  경기          39       54        47
492  2018-12-07  C20495     전체  경기           4       19        17

In [27]:
data_code = pd.read_excel("./data/7.한국표준산업분류 제11차 개정 분류체계(대-중-소-세-세세 구분) _20240626043559.xlsx")
data_code

,개정 분류체계(제10차 기준),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,대분류(21),NaN,중분류(77),NaN,소분류(232),NaN,세분류(495),NaN,"세세분류(1,196)",NaN
1,코드,항목명,코드,항목명,코드,항목명,코드,항목명,코드,항목명
2,A,"농업, 임업 및 어업(01~03)",01,농업,011,작물 재배업,0111,곡물 및 기타 식량작물 재배업,01110,곡물 및 기타 식량작물 재배업
3,NaN,NaN,NaN,NaN,NaN,NaN,0112,"채소, 화훼작물 및 종묘 재배업",01121,채소작물 재배업
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01122,화훼작물 재배업
...,...,...,...,...,...,...,...,...,...,...
1194,T,가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98),97,가구 내 고용활동,970,가구 내 고용활동,9700,가구 내 고용활동,97000,가구 내 고용활동
1195,NaN,NaN,98,달리 분류되지 않은 자가 소비를 위한 가구의 재화 및 서비스 생산활동,981,자가 소비를 위한 가사 생산 활동,9810,자가 소비를 위한 가사 생산 활동,98100,자가 소비를 위한 가사 생산 활동
1196,NaN,NaN,NaN,NaN,982,자가 소비를 위한 가사 서비스 활동,9820,자가 소비를 위한 가사 서비스 활동,98200,자가 소비를 위한 가사 서비스 활동
1197,U,국제 및 외국기관(99),99,국제 및 외국기관,990,국제 및 외국기관,9900,국제 및 외국기관,99001,주한 외국 공관
1198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99009,기타 국제 및 외국기관

In [42]:
# 빈 셀을 위의 값으로 채우기
data_code['대분류'] = data_code['대분류'].ffill()
data_code['중분류'] = data_code['중분류'].ffill()
data_code['소분류'] = data_code['소분류'].ffill()
data_code['세분류'] = data_code['세분류'].ffill()
data_code['세세분류'] = data_code['세세분류'].ffill()

# 필요한 열만 선택하여 보기 좋게 정리
data_code_cleaned = data_code[['대분류', '대분류명', '중분류', '중분류명', '소분류', '소분류명', '세분류', '세분류명', '세세분류', '세세분류명']]
data_code_cleaned.head()  # 정리된 결과 일부 확인

KeyError: '대분류'

In [28]:
data_code = data_code.iloc[:, -2:]
data_code

       Unnamed: 8           Unnamed: 9
0     세세분류(1,196)                  NaN
1              코드                  항목명
2           01110     곡물 및 기타 식량작물 재배업
3           01121             채소작물 재배업
4           01122             화훼작물 재배업
...           ...                  ...
1194        97000            가구 내 고용활동
1195        98100   자가 소비를 위한 가사 생산 활동
1196        98200  자가 소비를 위한 가사 서비스 활동
1197        99001             주한 외국 공관
1198        99009         기타 국제 및 외국기관

[1199 rows x 2 columns]

In [29]:
data_code.columns

Index(['Unnamed: 8', 'Unnamed: 9'], dtype='object')

In [30]:
data_code.columns = ['세세분류코드', '항목명']

In [31]:
data_code

           세세분류코드                  항목명
0     세세분류(1,196)                  NaN
1              코드                  항목명
2           01110     곡물 및 기타 식량작물 재배업
3           01121             채소작물 재배업
4           01122             화훼작물 재배업
...           ...                  ...
1194        97000            가구 내 고용활동
1195        98100   자가 소비를 위한 가사 생산 활동
1196        98200  자가 소비를 위한 가사 서비스 활동
1197        99001             주한 외국 공관
1198        99009         기타 국제 및 외국기관

[1199 rows x 2 columns]

In [32]:
data_code = data_code.drop([0, 1]).reset_index(drop=True)

In [33]:
data_code

     세세분류코드                  항목명
0     01110     곡물 및 기타 식량작물 재배업
1     01121             채소작물 재배업
2     01122             화훼작물 재배업
3     01123          종자 및 묘목 생산업
4     01131             과실작물 재배업
...     ...                  ...
1192  97000            가구 내 고용활동
1193  98100   자가 소비를 위한 가사 생산 활동
1194  98200  자가 소비를 위한 가사 서비스 활동
1195  99001             주한 외국 공관
1196  99009         기타 국제 및 외국기관

[1197 rows x 2 columns]

In [37]:
data_gyeonggi['업종코드']

7      C20201
15     C20202
31     C20202
44     C20202
60     C20203
75     C20203
89     C20203
100    C20311
108    C20311
112    C20311
119    C20312
127    C20312
140    C20313
153    C20313
163    C20313
174    C20321
181    C20321
184    C20321
191    C20322
202    C20322
206    C20322
217    C20411
229    C20411
242    C20411
251    C20412
253    C20412
256    C20412
258    C20413
264    C20413
266    C20413
274    C20421
287    C20421
292    C20421
305    C20422
321    C20422
332    C20422
347    C20423
364    C20423
380    C20423
394    C20424
406    C20424
414    C20424
422    C20491
428    C20491
432    C20491
438    C20492
444    C20492
447    C20492
454    C20493
467    C20493
477    C20493
492    C20495
Name: 업종코드, dtype: object

In [39]:
len(data_gyeonggi)

52

In [40]:
# '업종코드'의 앞 한 글자를 제거하여 새로운 열 '업종코드_수정' 생성
data_gyeonggi['업종코드_수정'] = data_gyeonggi['업종코드'].str[1:]

# 두 데이터프레임을 '세세분류코드'와 '업종코드_수정'을 기준으로 병합
merged_data = pd.merge(data_gyeonggi, data_code, left_on='업종코드_수정', right_on='세세분류코드', how='inner')

C:\Users\5-11\AppData\Local\Temp\ipykernel_14020\1289716414.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gyeonggi['업종코드_수정'] = data_gyeonggi['업종코드'].str[1:]

In [41]:
merged_data

,기준일자,업종코드,일반창업구분,지역,주채무상환해지기업수,기타해지기업수,기타해지해지건수,업종코드_수정,세세분류코드,항목명
0,2018-12-07,C20201,일반,경기,4,5,5,20201,20201,합성고무 제조업
1,2018-12-07,C20202,전체,경기,377,345,336,20202,20202,합성수지 및 기타 플라스틱 물질 제조업
2,2018-12-07,C20202,창업,경기,94,91,88,20202,20202,합성수지 및 기타 플라스틱 물질 제조업
3,2018-12-07,C20202,일반,경기,283,254,248,20202,20202,합성수지 및 기타 플라스틱 물질 제조업
4,2018-12-07,C20203,전체,경기,174,142,129,20203,20203,혼성 및 재생 플라스틱 소재 물질 제조업
5,2018-12-07,C20203,창업,경기,30,44,41,20203,20203,혼성 및 재생 플라스틱 소재 물질 제조업
6,2018-12-07,C20203,일반,경기,144,98,88,20203,20203,혼성 및 재생 플라스틱 소재 물질 제조업
7,2018-12-07,C20311,전체,경기,1,2,2,20311,20311,"질소 화합물, 질소ㆍ인산 및 칼리질 화학비료 제조업"
8,2018-12-07,C20311,창업,경기,0,1,1,20311,20311,"질소 화합물, 질소ㆍ인산 및 칼리질 화학비료 제조업"
9,2018-12-07,C20311,일반,경기,1,1,1,20311,20311,"질소 화합물, 질소ㆍ인산 및 칼리질 화학비료 제조업"
10,2018-12-07,C20312,전체,경기,0,1,1,20312,20312,복합비료 및 기타 화학비료 제조업
11,2018-12-07,C20312,창업,경기,0,1,1,20312,20312,복합비료 및 기타 화학비료 제조업
12,2018-12-07,C20313,전체,경기,13,12,12,20313,20313,유기질 비료 및 상토 제조업
13,2018-12-07,C20313,창업,경기,5,7,7,20313,20313,유기질 비료 및 상토 제조업
14,2018-12-07,C20313,일반,경기,8,5,5,20313,20313,유기질 비료 및 상토 제조업
15,2018-12-07,C20321,전체,경기,1,5,5,20321,20321,화학 살균ㆍ살충제 및 농업용 약제 제조업
16,2018-12-07,C20321,창업,경기,0,3,3,20321,20321,화학 살균ㆍ살충제 및 농업용 약제 제조업
17,2018-12-07,C20321,일반,경기,1,2,2,20321,20321,화학 살균ㆍ살충제 및 농업용 약제 제조업
18,2018-12-07,C20322,전체,경기,1,3,3,20322,20322,생물 살균ㆍ살충제 및 식물보호제 제조업
19,2018-12-07,C20322,창업,경기,0,1,1,20322,20322,생물 살균ㆍ살충제 및 식물보호제 제조업
20,2018-12-07,C20322,일반,경기,1,2,2,20322,20322,생물 살균ㆍ살충제 및 식물보호제 제조업
21,2018-12-07,C20411,전체,경기,51,65,62,20411,20411,일반용 도료 및 관련제품 제조업
22,2018-12-07,C20411,창업,경기,15,15,14,20411,20411,일반용 도료 및 관련제품 제조업
23,2018-12-07,C20411,일반,경기,36,50,48,20411,20411,일반용 도료 및 관련제품 제조업
24,2018-12-07,C20412,전체,경기,2,2,2,20412,20412,요업용 도포제 및 관련제품 제조업
25,2018-12-07,C20412,창업,경기,1,1,1,20412,20412,요업용 도포제 및 관련제품 제조업
26,2018-12-07,C20412,일반,경기,1,1,1,20412,20412,요업용 도포제 및 관련제품 제조업
27,2018-12-07,C20413,전체,경기,31,28,26,20413,20413,인쇄 잉크 및 회화용 물감 제조업
28,2018-12-07,C20413,창업,경기,0,0,0,20413,20413,인쇄 잉크 및 회화용 물감 제조업
29,2018-12-07,C20413,일반,경기,31,28,26,20413,20413,인쇄 잉크 및 회화용 물감 제조업
30,2018-12-07,C20421,전체,경기,18,22,21,20421,20421,계면활성제 제조업
31,2018-12-07,C20421,창업,경기,4,7,6,20421,20421,계면활성제 제조업
32,2018-12-07,C20421,일반,경기,14,15,15,20421,20421,계면활성제 제조업
33,2018-12-07,C20422,전체,경기,38,50,43,20422,20422,"치약, 비누 및 기타 세제 제조업"
34,2018-12-07,C20422,창업,경기,9,7,7,20422,20422,"치약, 비누 및 기타 세제 제조업"
35,2018-12-07,C20422,일반,경기,29,43,36,20422,20422,"치약, 비누 및 기타 세제 제조업"
36,2018-12-07,C20423,전체,경기,117,111,100,20423,20423,화장품 제조업
37,2018-12-07,C20423,창업,경기,46,48,42,20423,20423,화장품 제조업
38,2018-12-07,C20423,일반,경기,71,63,58,20423,20423,화장품 제조업
39,2018-12-07,C20424,전체,경기,29,28,28,20424,20424,표면 광택제 및 실내 가향제 제조업
40,2018-12-07,C20424,창업,경기,1,4,4,20424,20424,표면 광택제 및 실내 가향제 제조업
41,2018-12-07,C20424,일반,경기,28,24,24,20424,20424,표면 광택제 및 실내 가향제 제조업
42,2018-12-07,C20491,전체,경기,16,10,10,20491,20491,감광 재료 및 관련 화학제품 제조업
43,2018-12-07,C20491,창업,경기,12,4,4,20491,20491,감광 재료 및 관련 화학제품 제조업
44,2018-12-07,C20491,일반,경기,4,6,6,20491,20491,감광 재료 및 관련 화학제품 제조업
45,2018-12-07,C20492,전체,경기,1,2,2,20492,20492,가공 및 정제염 제조업
46,2018-12-07,C20492,창업,경기,1,1,1,20492,20492,가공 및 정제염 제조업
47,2018-12-07,C20492,일반,경기,0,1,1,20492,20492,가공 및 정제염 제조업
48,2018-12-07,C20493,전체,경기,63,66,59,20493,20493,접착제 및 젤라틴 제조업
49,2018-12-07,C20493,창업,경기,24,12,12,20493,20493,접착제 및 젤라틴 제조업
50,2018-12-07,C20493,일반,경기,39,54,47,20493,20493,접착제 및 젤라틴 제조업
51,2018-12-07,C20495,전체,경기,4,19,17,20495,20495,바이오 연료 및 혼합물 제조업

In [43]:
import requests
import pandas as pd
from dotenv import load_dotenv
load_dotenv()
import os

In [44]:
url="https://openapi.gg.go.kr/TBDASSIGNCSALESTMZONS"
servicekey="a836c43a91cb4c90b8a9050f00506139"
payload={'serviceKey':servicekey,'numOfRows':10,'pageNo':1,'dataType':'json'}

r = requests.get(url, params=payload)

if(r.status_code==200):
    data=r.json()
else:
    print("Error Code:" + r.status_code)

data

JSONDecodeError: Expecting value: line 1 column 1 (char 0)