# 반복문 for,while
* 반복문은 동일한 작업을 여러 번 반복해야 할 경우 사용하는 명령
* for, while 두 종류의 반복문이 있음.
* for는 반복 횟수가 정해져 있는 경우에 사용.
* while은 반복 횟수가 정해지지 않은 경우에 사용

## for 반복문: 반복할 횟수가 정해져 있는 경우
for 변수 in 반복할 객체,자료:<br>
____반복할 코드

In [2]:
# for문을 이용해서 1-10 숫자 출력
for num in range(1,11):
    print(num,end=" ")

1 2 3 4 5 6 7 8 9 10

*순서가 있는 자료형은 모두 for문에 사용 가능 <br>
    *문자열, list, tuple

In [5]:
for char in "파이썬은 문자열을 반복문에 넣어 출력 가능":
    print(char,end='')

파이썬은 문자열을 반복문에 넣어 출력 가능

In [7]:
for item in [1,2,3,4,5]:
    print(item, end=' ')

1 2 3 4 5

In [8]:
L = [1,2.3,3, "문자열",[1,2,3],(4,5,6),{'반복문':'for'}]
L

[1, 2.3, 3, '문자열', [1, 2, 3], (4, 5, 6), {'반복문': 'for'}]

In [9]:
for item in L:
    print(item, end=' ')

1 2.3 3 문자열 [1, 2, 3] (4, 5, 6) {'반복문': 'for'}

In [10]:
t=tuple(L)
t

(1, 2.3, 3, '문자열', [1, 2, 3], (4, 5, 6), {'반복문': 'for'})

In [11]:
for item in t:
    print(item,end=' ')

1 2.3 3 문자열 [1, 2, 3] (4, 5, 6) {'반복문': 'for'}

In [12]:
d=dict(번호=1, 주소='서울', 전화번호='010-1111-2222', 이름='홍길동')
d

{'번호': 1, '주소': '서울', '전화번호': '010-1111-2222', '이름': '홍길동'}

### 딕셔너리는 반복문에 넣었을 때 key만 출력

In [13]:
for item in d:
    print(item, end=' ')

번호 주소 전화번호 이름

In [18]:
for key in d:
    print(d[key],end=' ')

1 서울 010-1111-2222 홍길동

In [19]:
for key in d.values():
    print(key, end=' ')

1 서울 010-1111-2222 홍길동

In [20]:
for key in d:
    print(d.get(key,0),end=' ')

1 서울 010-1111-2222 홍길동

for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요

In [22]:
total=0
for i in range(1,11):
    total+=i
print(total)

55

In [24]:
total=1
for i in range(1,101):
    total*=i
print(total)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [25]:
total=0
for i in range(1,51):
    if i%2==0:
        total+=i
print(total)

650

In [26]:
total=1
for i in range(1,101):
    if i%7==0:
        total*=i
print(total)

59126328543388935628800

In [28]:
total=0
for i in range(1,101):
    if 29<i<71:
        total+=i
print(total)

2050

In [30]:
total=0
for i in range(1,101)[29:70]:
    total+=i
print(total)

2050

In [32]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list3=[0,0,0]
for num1,num2,num3 in zip(list1,list2,list3):
    total=0
    total=num1+num2+num3
    print(num1,num2,num3,total)


    
# zip함수는   
# list3가 제일 짧아서 그 길이만큼 for문 반복

1 6 0 7
2 7 0 9
3 8 0 11

enumerate(): index를 만들어주는 함수

In [2]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list3=[0,0,0]
for idx,num in enumerate(zip(list1,list2,list3)):
    print(idx, num[0], num[1], num[2])

0 1 6 0
1 2 7 0
2 3 8 0

# while 반복할 횟수가 정해지지 않은 경우
* 무한 반복 가능
* 무한 반복이 되지 않도록 조건식을 잘 짜주는 것이 중요<br>
  변수 선언 및 초기화<br>
  while 조건식:<br>
  ____반복할 코드<br>
  ____변수 증가/감소 로직<br>

In [5]:
i=1
while i<=10:
    print(i,end=' ')
    i+=1

1 2 3 4 5 6 7 8 9 10

while문을 이용해서 1부터10까지 더해서 결과를 출력하시오

In [7]:
i=1
hap=0
while i<11:
    hap+=i
    i+=1
print(hap)

55

In [8]:
hap=0
i=20
while i>0:
    hap+=i
    i-=1
print(hap)

210

1-50 까지 수 중에서 3의 배수이거나, 짝수인 수를 찾아서 더한 값을 출력하시오

In [ ]:
i=1
hap=0
while i<51:
    if i%3==0 or i%2==0:
        hap+=i
    i+=1
print(hap)

반복 횟수가 정해지지 않은 경우: 무한 반복

In [3]:
i=1
hap=0
while True:
    if i<=100:
        hap+=i
    else:
        break
    i+=1
print(hap)

5050

True가 되는 경우: 1, 정수, 실수, 문자열, True <br>
False가 되는 경우: 0, 0.0, '', "", [], (), {}, False

In [4]:
while "":
    print("무한반복")