## 함수 만들기

* print(),split(),input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌
* 도구
* function => 기능
* 자주 사용하는 기능을 미리 만들어서 반복 재사용 할 수 있게 만드는 것

## 1) 함수 만드는 법
def 함수이름():<br>
____실행코드<br>
____return 리턴값<br>

In [3]:
def hello():
    print("hello 파이썬 함수 만들기")

In [5]:
hello()

hello 파이썬 함수 만들기

## 2) 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

## 3) 함수의 매개변수
* 함수의 ()안에 받는 값
* ()안에 값을 받아서 함수 내에서 처리할 때 사용
* print("hello") => hello

매개변수 1개짜리 함수

In [6]:
#원의 넓이를 구하는 함수
def circle(r):
    return r*r*3.14

In [8]:
circle()

TypeError: circle() missing 1 required positional argument: 'r'

In [9]:
circle(3)

28.26

매개변수 2개짜리 함수

In [10]:
def add(a,b):
    return a+b

In [12]:
add(10,3)

13

매개 변수 3개짜리 함수 - a:시작, b:끝, c:증감<br>
interval이라는 이름의 함수를 만드세요.<br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 출력하세요. <br>
num_maker(1,10,2)<br>
1, 3, 5, 7, 9

In [20]:
def num_maker(a,b,c):
    print([i for i in range(a,b,c)])

In [21]:
num_maker(1,10,2)

[1, 3, 5, 7, 9]

리턴값이 여러 개인 함수

In [23]:
def add_sub(a,b):
    add=a+b
    sub=a-b
    return add, sub

In [25]:
print(type(add_sub(7,3)))

<class 'tuple'>

In [26]:
def num_maker2(a,b,c):
    asc=[i for i in range(a,b,c)]
    desc=[i for i in range(a,b,c)][::-1]
    return asc, desc

In [27]:
num_maker2(1,10,2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

## 4)중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

1-10까지 숫자중에 짝수만 출력하다가 7이상이 되면 종료하기

In [28]:
age=range(1,11)

In [33]:
def even(age):
    for i in age:
        if i%2==0:
            print(i,end=" ")
        elif i>=7:
            break

In [34]:
even(age)

2 4 6

In [38]:
def even2(age):
    for i in age:
        if i%2==0:
            print(i,end=" ")
        elif i>=7:
            return

In [39]:
even2(age)

2 4 6

1-100까지 숫자중에 홀수만 출력하다가 51번째에 종료하는 odd함수

In [54]:
def odd():
    for i in range(1,101):
        if i%2==1:
            print(i,end=" ")
        if i==51:
            return

In [55]:
odd()

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치인수(positional argument)
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [56]:
def print_nums(a,b,c):
    print(a, b, c)

In [57]:
print_nums(10,20,30)

10 20 30

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때 위치 인수와 개수가 같으면 *로 언패킹 가능

In [59]:
p=[10,20,30]

In [61]:
print_nums(*p)

10 20 30

In [ ]:
---------------------------------------------------------------------------------------

In [ ]:
def sum2(*args):
    hap=0
    for i in args:
        hap += i
    return hap

In [ ]:
-----------------------------------------------------------

* 고정인수와 가변인수를 함께 사용할 때는 반드시<br>
* 고정인수, 가변인수 순으로 넣고 가변인수는 항상 <strong>마지막에<strong> 넣는다. <strong>
* def sum(a, *args): O
* def sum(*args, a): X

정수와 리스트를 입력받아 리스트의 요소에 <br>
입력받은 정수를 곱한 값의 리스트를 반환하는 함수 <br>
3,[1,2,3,4,5] => [3,6,9,12,13]

In [62]:
def muls(a, *args):
    result = []
    for num in args:
        print(a*num, end=" ")
        result.append(a*num)
    return result

In [64]:
muls(3,*[1,2,3,4,5])

3 6 9 12 15

[3, 6, 9, 12, 15]