# 1. pandas
## pandas의 특징
### pandas의 특징
* Numpy를 내부적으로 활용함(numpy의 특징을 그대로 가짐)
* 데이터 분석에 특화된 데이터 구조 제공
* 다양한 데이터 분석 함수 제공
* 데이터베이스에 쉽게 연결 가능
* json데이터나 table요소를 데이터프레임으로 손쉽게 변형 가능

In [1]:
# 설치
# !pip install pandas
# !conda install pandas

# 2. Pandas에서 다루는 데이터 타입

## 1) DataFrame: 2차원의 표 형식 데이터 => key:[value1,value2]

## 2) Series: 1차원의 벡터 형식 데이터 => list, tuple, ndarray

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {'이름':['홍길동', '장마철', '소나기', '더워요'],
     'Age': [23,55,24,16],
     '성별': ['male','female','female','male']    
    }
)

In [4]:
df

    이름  Age      성별
0  홍길동   23    male
1  장마철   55  female
2  소나기   24  female
3  더워요   16    male

In [8]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [11]:
type(df['이름'])

pandas.core.series.Series

In [12]:
type(df[['이름']])

pandas.core.frame.DataFrame

In [13]:
df['이름']

0    홍길동
1    장마철
2    소나기
3    더워요
Name: 이름, dtype: object

In [14]:
df[['이름']]

    이름
0  홍길동
1  장마철
2  소나기
3  더워요

In [15]:
df['이름'].ndim

1

In [16]:
df[['이름']].ndim

2