In [1]:
import pandas as pd

In [33]:
data = pd.read_csv("./review_data/pascucci_reviews_google.csv")

In [34]:
data

            ID  Date                                          Review
0          이용욱  4년 전  2층 흡연공간, 강남역 대로변보다 조용해서 미팅, 공부 그리고 휴식하기 좋습니다!!
1          최현주  2년 전        좁은 감이 있지만, 그래서 대화집중이 잘 되는 곳! 흡연실도 따로 있음!
2      JAY LIM  9달 전                                    이층 흡연실 좋아요^^
3       In Chu  2년 전                 직원분이 언제나 친절하게 응대해주셔서 편안한 곳 입니다.
4          박정환  5년 전                              강남에서 주차무료인 커피숍이란!!
5    ming ming  3년 전                                              좋음
6  Hatip Kemal  1년 전                                 강남 지역의 멋진 카페 가게

In [35]:
data = data.drop(columns=['ID'])

In [36]:
data

   Date                                          Review
0  4년 전  2층 흡연공간, 강남역 대로변보다 조용해서 미팅, 공부 그리고 휴식하기 좋습니다!!
1  2년 전        좁은 감이 있지만, 그래서 대화집중이 잘 되는 곳! 흡연실도 따로 있음!
2  9달 전                                    이층 흡연실 좋아요^^
3  2년 전                 직원분이 언제나 친절하게 응대해주셔서 편안한 곳 입니다.
4  5년 전                              강남에서 주차무료인 커피숍이란!!
5  3년 전                                              좋음
6  1년 전                                 강남 지역의 멋진 카페 가게

In [37]:
data.to_csv('pascucci_reviews_google.csv', index=False, encoding='utf-8-sig')

In [38]:
data2 = pd.read_csv("./review_data/pascucci_reviews_kakao.csv")
data2

         작성 날짜                                              리뷰 내용
0  2023.09.21.  파스쿠찌 검색하다가 대로가 아닌 골목에 위치해서 놀람. 1층은 거의 좌석없고 2층 ...
1  2019.10.29.                                                NaN

In [39]:
data2.rename(columns={'작성 날짜': 'Date', '리뷰 내용': 'Review'}, inplace=True)

In [40]:
data2

          Date                                             Review
0  2023.09.21.  파스쿠찌 검색하다가 대로가 아닌 골목에 위치해서 놀람. 1층은 거의 좌석없고 2층 ...
1  2019.10.29.                                                NaN

In [41]:
# Date 컬럼을 날짜 형식으로 변환한 후, 년-월 형식으로 변환
data2['Date'] = pd.to_datetime(data2['Date'], errors='coerce').dt.to_period('M').astype(str)

In [42]:
data2

      Date                                             Review
0  2023-09  파스쿠찌 검색하다가 대로가 아닌 골목에 위치해서 놀람. 1층은 거의 좌석없고 2층 ...
1  2019-10                                                NaN

In [43]:
data2.to_csv('pascucci_reviews_kakao.csv', index=False, encoding='utf-8-sig')

In [49]:
test = pd.read_csv("./pascucci_reviews_kakao.csv")
test

      Date                                             Review
0  2023-09  파스쿠찌 검색하다가 대로가 아닌 골목에 위치해서 놀람. 1층은 거의 좌석없고 2층 ...
1  2019-10                                                NaN