In [1]:
import pandas as pd

In [2]:
naver_review = pd.read_csv("./ë°ì´í„°ë² ì´ìŠ¤ì—°ê²°_ë°ì´í„°/ë±…ë±…ë§‰êµ­ìˆ˜_reviews.csv")
naver_review

        Date                                             Review
0    2024-11  ğŸ²:\nì–‘ì¬ì—­ ë§›ì§‘ ë±…ë±…ë§‰êµ­ìˆ˜ëŠ” ê¹”ë”í•˜ë©´ì„œë„ ê¹Šì€ ë§›ì´ ë§¤ë ¥ì ì¸ ê³³ì…ë‹ˆë‹¤. ë©´ë°œì€ ...
1    2024-11  ëŒ€í•œë¯¼êµ­ ë§‰êµ­ìˆ˜ê³„ ì›íƒ‘ ê°•ë‚¨ ë±…ë±…ì‚¬ê±°ë¦¬ì— ë±…ë±…ë§‰êµ­ìˆ˜ì…ë‹ˆë‹¤.\n\nìê°€ì œë©´ìœ¼ë¡œ ìœ ëª…í•œ...
2    2024-11  ê·¸ ìœ ëª…í•œ ë§›ì§‘ ë±…ë±…ë§‰êµ­ìˆ˜ ë‹¤ë…€ì™”ìŠµë‹ˆë‹¹ ì£¼ë¬¸í•˜ê³  ë°”ë¡œ ë½‘ì•„ë‚´ëŠ” ë©”ë°€ ìê°€ì œë©´ì´ë¼ ë©´...
3    2024-11  ë§‰êµ­ìˆ˜ ì‚¼ì¢…ì„¸íŠ¸ ë‹¤ ì£¼ë¬¸í–ˆì–´ìš” â¤\në„ˆë¬´ë„ˆëª¨ ë§›ìˆì–´ìš”!!! ê³ ì†Œí•œ ì°¸ê¸°ë¦„ê³¼ ë“¤ê¸°ë¦„ ...
4    2024-11  ë„ê³¡ë™ë§›ì§‘ ë±…ë±…ë§‰êµ­ìˆ˜ëŠ” ìœ íŠœë¸Œ ë¨¹ë°©ì—ì„œ ë³´ê³  ì°¾ì•„ê°”ì–´ìš”.ì§„ì§œ ì ì‹¬ë•Œ ì‚¬ëŒì´ ë§ì•„ ë§›...
..       ...                                                ...
995  2024-07  ì¿¨íƒ€ì´ì°¨ë©´ ê¼­ ë“¤ë¦¬ëŠ” ë§‰êµ­ìˆ˜ì§‘ì´ì—ìš”!\nì°¸ê¸°ë¦„ ë“¤ê¸°ë¦„ ë„˜ë„˜ë§›ì‡ì–´ìš”\nêµ°ë§Œë‘ê¹Œì§€ ë“ ë“ ...
996  2024-07        ìœ ëª…í•´ì„œ ì™”ëŠ”ë° ì™œ ìœ ëª…í•œì§€ ì•Œ ê²ƒ ê°™ì€ ë§›..!\në§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤ :)
997  2024-07  íšŒì‚¬ ê·¼ì²˜ì— ì´ëŸ° ë§›ì§‘ ìˆì–´ì„œ ì¢‹ì•„ìš”. ì°¸ê¸°ë¦„ ë§‰êµ­ìˆ˜, ë“¤ê¸°ë¦„ ë§‰êµ­ìˆ˜, ë¬¼ë§‰êµ­ìˆ˜ ë‹¤...
998  2024-07       ì§ì¥ ë™ë£Œì™€ ë°©ë¬¸í–ˆëŠ”ë° ë§›ìˆê²Œ ì˜ ë¨¹ì—ˆìŠµë‹ˆë‹¤ !!!ì°¸ê¸°ë¦„ ë§‰êµ­ìˆ˜ ë§›ìˆì–´ìš© ã…ã…ã…
999  2024-02  ì§€ë‚˜ë‹¤ë‹ˆë©´ì„œ í•­ìƒ ì•ì— ì‚¬ëŒë“¤ ë°”ê¸€ë°”ê¸€í•˜ê¸¸ë˜ ê¸°ëŒ€í•˜ë‹¤ê°€ ë°©ë¬¸í•´ë´¤ì–´ìš”! ì™œ ì´ì œì•¼ ì˜¨...

[1000 rows x 2 columns]

In [3]:
kakao_review = pd.read_csv("./ë°ì´í„°ë² ì´ìŠ¤ì—°ê²°_ë°ì´í„°/bangbang_makguksu_reviews_kakao.csv")
kakao_review

        Date                                             Review
0    2024-10                                      ê¹”ë”í•´ìš” ì–‘ë…ì´ ì¢€ ì„ìš”
1    2024-10                                         ë“¤ê¸°ë¦„ ë§‰êµ­ìˆ˜ ì¡´ë§›
2    2024-10   ì œë¡œí˜ì´ ëœë‹¤ê³  ê´‘ê³ í•´ì„œ ê°“ë”ë‹ˆ ì•ˆëœë‹¤ê³  ë‚˜ê°€ë¼ê³  í•˜ë„¤ìš”. ì •ì •í•´ë†”ë¼ í—›ê±¸ìŒí•˜ê²Œí•˜ì§€ë§ê³
3    2024-10               í´ë¼ì´ë° í•˜ëŸ¬ê°”ë‹¤ê°€ ë°œê²¬í•œ ë§›ì§‘\nì¢…ì¢… ìƒê°ë‚˜ì„œ ë¨¹ìœ¼ëŸ¬ ê°ˆë“¯í•©ë‹ˆë‹¤
4    2024-10  ë§›ìˆê³  ì§ì›ì¹œì ˆë„ë„ ë‚˜ì˜ì§€ ì•ˆì•˜ë‹¤\nìŒì‹ì´ ì´ì˜ê²Œ ë‚˜ì™€ì„œ  ì‚¬ì§„ ì°ê¸°ë„ ì¢‹ì™”ë‹¤\në‹¤...
..       ...                                                ...
234  2021-02  ê°€ê²©ëŒ€ê°€ ìˆì§€ë§Œ ì—¬ì „íˆ ë§›ìˆê³  ì¹œì ˆí•˜ë„¤ìš” ë©”ë°€ì „ë³‘ ëŒ€ì‹ ì— ê¹€ì¹˜ êµ°ë§Œë‘ê°€ ìˆëŠ”ë° ë§›ìˆì–´ìš”!
235  2021-02                                         ë„ˆë¬´ ë§›ìˆì—ˆì–´ìš”!!
236  2021-01  ë“¤ê¸°ë¦„ ë§‰êµ­ìˆ˜ ìµœê³ . ì¼ë‹¨ ê°€ê²Œê°€ ì •ë§ ê¹¨ë—í•˜ê³  ê¹”ë”í•´ì„œ ì•ˆì‹¬í•˜ê³  ë¨¹ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤...
237  2020-09              ì½”ë‹¤ë¦¬ëŠ” ê´œì°®ì€ë° ìœ¡ì „ì€ ë¹„ì¶”. ê³ ê¸°ëƒ„ìƒˆ ë‚˜ì„œ 2ë§Œì› ì§„ì§œ ì•„ê¹Œì› ìŒ
238  2020-08  ì •ë§ ìš°ì—°íˆ ë°œê²¬í•œ ë§‰êµ­ìˆ˜ ë§›ì§‘!\në§ë¦° ê°íƒœì— ì‹¸ë¨¹ëŠ” ë“¤ê¸°ë¦„ë§‰êµ­ìˆ˜, ì½”ë‹¤ë¦¬ë¹„ë¹”ë§‰êµ­...

[239 rows x 2 columns]

In [4]:
google_review = pd.read_csv("./ë°ì´í„°ë² ì´ìŠ¤ì—°ê²°_ë°ì´í„°/bangbang_makguksu_reviews_google.csv")
google_review

     Date                                             Review
0    2ì£¼ ì „  ë§‰êµ­ìˆ˜ì˜ ëŒ€ê°€ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸ\në°°ê°€ ì‘ì€ê±°ì— í•œíƒ„í•˜ë©° ëª¨ë“  ìŒì‹ì„ ë¨¹ì§€ ëª»í•´ ìŠ¬í”Œ ì •ë„....
1    3ë‹¬ ì „  ë“¤ê¸°ë¦„ë§‰êµ­ìˆ˜, ì°¸ê¸°ë¦„ë§‰êµ­ìˆ˜, ì½”ë‹¤ë¦¬ë§‰êµ­ìˆ˜ë¥¼ ë¨¹ì—ˆëŠ”ë° 3ê°œ ë©”ë‰´ ëª¨ë‘ ë§›ìˆì—ˆì–´ìš”. êµ­...
2    4ë‹¬ ì „  ìœ ëª…í•œ ê³³ì´ë¼ ì™€ë´¤ëŠ”ë° ë§›ìˆê³  ì¹œì ˆí•˜ê³  ìœ ëª…í•œ ì´ìœ ë¥¼ ì•Œê² ë„¤ìš”^-^\nì½”ë‹¤ë¦¬ë‘ ì°¸ê¸°...
3    4ë‹¬ ì „  ê°•ë‚¨ ë±…ë±…ì‚¬ê±°ë¦¬ì—ì„œ ë§‰êµ­ìˆ˜ë¡œ ìœ ëª…í•œ ë§›ì§‘ì…ë‹ˆë‹¤. ë“¤ê¸°ë¦„ë§‰êµ­ìˆ˜ ê°•ì¶”í•´ìš”. ë¬¼ë§‰êµ­ìˆ˜, ...
4    4ë‹¬ ì „  ì—¬ê¸´ ì§„ì§œ ì°¸ê¸°ë¦„ë§‰êµ­ìˆ˜!!!!!!!! ì •ë§ ë§›ìˆìŠµë‹ˆë‹¤. ë§‰êµ­ìˆ˜ ë³„ë¡œ ì•ˆì¢‹ì•„í•´ì„œ,, ...
..    ...                                                ...
196  2ë…„ ì „                                                  ë“±
197  3ë…„ ì „                                      ë§¤ìš° ì—´ì•…í•œ ê³ ê° ì„œë¹„ìŠ¤
198  5ë…„ ì „                                                ì ì–ì€
199  2ë…„ ì „                                                JMT
200  3ë…„ ì „                                                JMT

[201 rows x 2 columns]

In [5]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\5-11\miniforge3\envs\fintech\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
from sqlalchemy import create_engine

# CSV íŒŒì¼ ë¡œë“œ
naver_review = pd.read_csv("./db_data/ë±…ë±…ë§‰êµ­ìˆ˜_reviews.csv")
kakao_review = pd.read_csv("./db_data/bangbang_makguksu_reviews_kakao.csv")
google_review = pd.read_csv("./db_data/bangbang_makguksu_reviews_google.csv")

# MySQL ì—°ê²° ì„¤ì •
db = "mysql"
dbtype = "pymysql"
user = "root"          # MySQL ì‚¬ìš©ì ì´ë¦„
password = "1234"      # MySQL ë¹„ë°€ë²ˆí˜¸
host = "127.0.0.1:3306" # MySQL í˜¸ìŠ¤íŠ¸ì™€ í¬íŠ¸
database = "review_db" # ì‚¬ìš©í•  ë°ì´í„°ë² ì´ìŠ¤ ì´ë¦„

# SQLAlchemy ì—”ì§„ ìƒì„±
engine = create_engine(f"{db}+{dbtype}://{user}:{password}@{host}/{database}")

# ë°ì´í„°ë² ì´ìŠ¤ ìƒì„± (í•„ìš” ì‹œ)
with engine.connect() as conn:
    conn.execute("CREATE DATABASE IF NOT EXISTS review_db")
    conn.execute("USE review_db")

# ë°ì´í„°ë¥¼ MySQL í…Œì´ë¸”ì— ì €ì¥
def save_to_mysql(df, table_name):
    df.to_sql(
        table_name,
        con=engine,
        if_exists="replace",  # í…Œì´ë¸”ì´ ì´ë¯¸ ì¡´ì¬í•˜ë©´ ë®ì–´ì“°ê¸°
        index=False           # DataFrameì˜ ì¸ë±ìŠ¤ ì œì™¸
    )

# í…Œì´ë¸”ì— ë°ì´í„° ì €ì¥
save_to_mysql(naver_review, "naver_reviews")
save_to_mysql(kakao_review, "kakao_reviews")
save_to_mysql(google_review, "google_reviews")

print("ë°ì´í„° ì €ì¥ ì™„ë£Œ!")

ObjectNotExecutableError: Not an executable object: 'CREATE DATABASE IF NOT EXISTS review_db'

In [13]:
import pandas as pd
from sqlalchemy import create_engine, text

# MySQL ì—°ê²° ì„¤ì •
db = "mysql"
dbtype = "pymysql"
user = "root"          # MySQL ì‚¬ìš©ì ì´ë¦„
password = "1234"      # MySQL ë¹„ë°€ë²ˆí˜¸
host = "127.0.0.1:3306" # MySQL í˜¸ìŠ¤íŠ¸ì™€ í¬íŠ¸
database = "review_db" # ì‚¬ìš©í•  ë°ì´í„°ë² ì´ìŠ¤ ì´ë¦„

# SQLAlchemy ì—”ì§„ ìƒì„± (ë°ì´í„°ë² ì´ìŠ¤ í¬í•¨)
engine = create_engine(f"{db}+{dbtype}://{user}:{password}@{host}/{database}")

# ë°ì´í„° ë¡œë“œ
naver_review = pd.read_csv("./db_data/ë±…ë±…ë§‰êµ­ìˆ˜_reviews.csv")
kakao_review = pd.read_csv("./db_data/bangbang_makguksu_reviews_kakao.csv")
google_review = pd.read_csv("./db_data/bangbang_makguksu_reviews_google.csv")

# ë°ì´í„°ë¥¼ MySQL í…Œì´ë¸”ì— ì €ì¥
def save_to_mysql(df, table_name):
    df.to_sql(
        table_name,
        con=engine,
        if_exists="replace",  # í…Œì´ë¸”ì´ ì´ë¯¸ ì¡´ì¬í•˜ë©´ ë®ì–´ì“°ê¸°
        index=False           # DataFrameì˜ ì¸ë±ìŠ¤ ì œì™¸
    )

# í…Œì´ë¸”ì— ë°ì´í„° ì €ì¥
save_to_mysql(naver_review, "naver_reviews")
save_to_mysql(kakao_review, "kakao_reviews")
save_to_mysql(google_review, "google_reviews")

print("ë°ì´í„° ì €ì¥ ì™„ë£Œ!")

ë°ì´í„° ì €ì¥ ì™„ë£Œ!

In [ ]:
from sqlalchemy import create_engine, text
import pymysql
pymysql.install_as_MySQLdb()

In [ ]:
db = "mysql"
dbtype = "pymysql"
user = "root"
password = "1234"
host = "127.0.0.1:3306"
database = "review_db"

In [ ]:
engine = create_engine(f"{db}+{dbtype}://{user}:{password}@{host}")
conn = engine.connect()

In [ ]:
# ë°ì´í„°ë² ì´ìŠ¤ì— ì ‘ì† í›„ ë°ì´í„°ë² ì´ìŠ¤ ìƒì„±

conn.execute(text('CREATE DATABASE IF NOT EXISTS review_db'))

In [ ]:
engine = create_engine(f"{db}+{dbtype}://{user}:{password}@{host}/{database}")
conn = engine.connect()

In [ ]:
#DataFrameì„ MySQL í…Œì´ë¸”ë¡œ ì €ì¥

final_result_df.to_sql('company_info',con=engine, if_exists='replace', index=False)
conn.close()