In [1]:
import pandas as pd

In [2]:
naver_review = pd.read_csv("./데이터베이스연결_데이터/뱅뱅막국수_reviews.csv")
naver_review

        Date                                             Review
0    2024-11  🍲:\n양재역 맛집 뱅뱅막국수는 깔끔하면서도 깊은 맛이 매력적인 곳입니다. 면발은 ...
1    2024-11  대한민국 막국수계 원탑 강남 뱅뱅사거리에 뱅뱅막국수입니다.\n\n자가제면으로 유명한...
2    2024-11  그 유명한 맛집 뱅뱅막국수 다녀왔습니당 주문하고 바로 뽑아내는 메밀 자가제면이라 면...
3    2024-11  막국수 삼종세트 다 주문했어요 ❤\n너무너모 맛있어요!!! 고소한 참기름과 들기름 ...
4    2024-11  도곡동맛집 뱅뱅막국수는 유튜브 먹방에서 보고 찾아갔어요.진짜 점심때 사람이 많아 맛...
..       ...                                                ...
995  2024-07  쿨타이차면 꼭 들리는 막국수집이에요!\n참기름 들기름 넘넘맛잇어요\n군만두까지 든든...
996  2024-07        유명해서 왔는데 왜 유명한지 알 것 같은 맛..!\n맛있게 잘 먹었습니다 :)
997  2024-07  회사 근처에 이런 맛집 있어서 좋아요. 참기름 막국수, 들기름 막국수, 물막국수 다...
998  2024-07       직장 동료와 방문했는데 맛있게 잘 먹었습니다 !!!참기름 막국수 맛있어용 ㅎㅎㅎ
999  2024-02  지나다니면서 항상 앞에 사람들 바글바글하길래 기대하다가 방문해봤어요! 왜 이제야 온...

[1000 rows x 2 columns]

In [3]:
kakao_review = pd.read_csv("./데이터베이스연결_데이터/bangbang_makguksu_reviews_kakao.csv")
kakao_review

        Date                                             Review
0    2024-10                                      깔끔해요 양념이 좀 쎄요
1    2024-10                                         들기름 막국수 존맛
2    2024-10   제로페이 된다고 광고해서 갓더니 안된다고 나가라고 하네요. 정정해놔라 헛걸음하게하지말고
3    2024-10               클라이밍 하러갔다가 발견한 맛집\n종종 생각나서 먹으러 갈듯합니다
4    2024-10  맛있고 직원친절도도 나쁘지 안았다\n음식이 이쁘게 나와서  사진 찍기도 좋왔다\n다...
..       ...                                                ...
234  2021-02  가격대가 있지만 여전히 맛있고 친절하네요 메밀전병 대신에 김치 군만두가 있는데 맛있어요!
235  2021-02                                         너무 맛있었어요!!
236  2021-01  들기름 막국수 최고. 일단 가게가 정말 깨끗하고 깔끔해서 안심하고 먹을 수 있습니다...
237  2020-09              코다리는 괜찮은데 육전은 비추. 고기냄새 나서 2만원 진짜 아까웠음
238  2020-08  정말 우연히 발견한 막국수 맛집!\n말린 감태에 싸먹는 들기름막국수, 코다리비빔막국...

[239 rows x 2 columns]

In [4]:
google_review = pd.read_csv("./데이터베이스연결_데이터/bangbang_makguksu_reviews_google.csv")
google_review

     Date                                             Review
0    2주 전  막국수의 대가🌟🌟🌟🌟🌟\n배가 작은거에 한탄하며 모든 음식을 먹지 못해 슬플 정도....
1    3달 전  들기름막국수, 참기름막국수, 코다리막국수를 먹었는데 3개 메뉴 모두 맛있었어요. 국...
2    4달 전  유명한 곳이라 와봤는데 맛있고 친절하고 유명한 이유를 알겠네요^-^\n코다리랑 참기...
3    4달 전  강남 뱅뱅사거리에서 막국수로 유명한 맛집입니다. 들기름막국수 강추해요. 물막국수, ...
4    4달 전  여긴 진짜 참기름막국수!!!!!!!! 정말 맛있습니다. 막국수 별로 안좋아해서,, ...
..    ...                                                ...
196  2년 전                                                  등
197  3년 전                                      매우 열악한 고객 서비스
198  5년 전                                                점잖은
199  2년 전                                                JMT
200  3년 전                                                JMT

[201 rows x 2 columns]

In [5]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\5-11\miniforge3\envs\fintech\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
from sqlalchemy import create_engine

# CSV 파일 로드
naver_review = pd.read_csv("./db_data/뱅뱅막국수_reviews.csv")
kakao_review = pd.read_csv("./db_data/bangbang_makguksu_reviews_kakao.csv")
google_review = pd.read_csv("./db_data/bangbang_makguksu_reviews_google.csv")

# MySQL 연결 설정
db = "mysql"
dbtype = "pymysql"
user = "root"          # MySQL 사용자 이름
password = "1234"      # MySQL 비밀번호
host = "127.0.0.1:3306" # MySQL 호스트와 포트
database = "review_db" # 사용할 데이터베이스 이름

# SQLAlchemy 엔진 생성
engine = create_engine(f"{db}+{dbtype}://{user}:{password}@{host}/{database}")

# 데이터베이스 생성 (필요 시)
with engine.connect() as conn:
    conn.execute("CREATE DATABASE IF NOT EXISTS review_db")
    conn.execute("USE review_db")

# 데이터를 MySQL 테이블에 저장
def save_to_mysql(df, table_name):
    df.to_sql(
        table_name,
        con=engine,
        if_exists="replace",  # 테이블이 이미 존재하면 덮어쓰기
        index=False           # DataFrame의 인덱스 제외
    )

# 테이블에 데이터 저장
save_to_mysql(naver_review, "naver_reviews")
save_to_mysql(kakao_review, "kakao_reviews")
save_to_mysql(google_review, "google_reviews")

print("데이터 저장 완료!")

ObjectNotExecutableError: Not an executable object: 'CREATE DATABASE IF NOT EXISTS review_db'

In [13]:
import pandas as pd
from sqlalchemy import create_engine, text

# MySQL 연결 설정
db = "mysql"
dbtype = "pymysql"
user = "root"          # MySQL 사용자 이름
password = "1234"      # MySQL 비밀번호
host = "127.0.0.1:3306" # MySQL 호스트와 포트
database = "review_db" # 사용할 데이터베이스 이름

# SQLAlchemy 엔진 생성 (데이터베이스 포함)
engine = create_engine(f"{db}+{dbtype}://{user}:{password}@{host}/{database}")

# 데이터 로드
naver_review = pd.read_csv("./db_data/뱅뱅막국수_reviews.csv")
kakao_review = pd.read_csv("./db_data/bangbang_makguksu_reviews_kakao.csv")
google_review = pd.read_csv("./db_data/bangbang_makguksu_reviews_google.csv")

# 데이터를 MySQL 테이블에 저장
def save_to_mysql(df, table_name):
    df.to_sql(
        table_name,
        con=engine,
        if_exists="replace",  # 테이블이 이미 존재하면 덮어쓰기
        index=False           # DataFrame의 인덱스 제외
    )

# 테이블에 데이터 저장
save_to_mysql(naver_review, "naver_reviews")
save_to_mysql(kakao_review, "kakao_reviews")
save_to_mysql(google_review, "google_reviews")

print("데이터 저장 완료!")

데이터 저장 완료!

In [ ]:
from sqlalchemy import create_engine, text
import pymysql
pymysql.install_as_MySQLdb()

In [ ]:
db = "mysql"
dbtype = "pymysql"
user = "root"
password = "1234"
host = "127.0.0.1:3306"
database = "review_db"

In [ ]:
engine = create_engine(f"{db}+{dbtype}://{user}:{password}@{host}")
conn = engine.connect()

In [ ]:
# 데이터베이스에 접속 후 데이터베이스 생성

conn.execute(text('CREATE DATABASE IF NOT EXISTS review_db'))

In [ ]:
engine = create_engine(f"{db}+{dbtype}://{user}:{password}@{host}/{database}")
conn = engine.connect()

In [ ]:
#DataFrame을 MySQL 테이블로 저장

final_result_df.to_sql('company_info',con=engine, if_exists='replace', index=False)
conn.close()