# DB에서 상장 기업 정보를 받아 네이버 증권에서 주가 수집하기

In [13]:
import os
import pandas as pd
from datetime import date
from dotenv import load_dotenv
from sqlalchemy import create_engine
import pymysql
import time
import requests
from bs4 import BeautifulSoup as bs

In [2]:
pymysql.install_as_MySQLdb()
load_dotenv(dotenv_path=".env_db")

True

In [3]:
engine = create_engine(f'{os.getenv("db")}+{os.getenv("dbtype")}://{os.getenv("id")}:{os.getenv("pw")}@{os.getenv("host")}/{os.getenv("database")}')
conn = engine.connect()
data = pd.read_sql('2024_07_29_stock_company_info',con=conn)
conn.close()

In [8]:
for code in data['종목코드'][:1]:
    url=f"https://finance.naver.com/item/main.naver?code={code}"
    print(url)

https://finance.naver.com/item/main.naver?code=062040

In [14]:
r=requests.get(url)
    
soup=bs(r.text,'lxml')

In [16]:
#회사명
soup.select_one('h2').text

'산일전기'

In [17]:
#종목코드
soup.select_one('.code').text

'062040'

In [46]:
#현재가
soup.select_one('div > p.no_today .blind').text

'46,000'

In [50]:
#변동금액
soup.select_one('div > p.no_exday > em:nth-child(2) .blind').text

'11,000'

In [135]:
#변동률
soup.select_one('div > p.no_exday > em:nth-child(4) .blind').text

'31.43'

In [73]:
#전일
soup.select_one('.first em .blind').text

'35,000'

In [109]:
#고가
soup.select_one('td .no_up .blind').text

'49,200'

In [115]:
#거래량
soup.select_one('tr > td:nth-child(3) .blind').text

'15,138,846'

In [129]:
soup.select_one('#chart_area > div.rate_info > table > tbody > tr:nth-child(2)')